h1 {
    margin: auto;
    text-align: center;
}
.flashcard {
  height: 300px;  
  width: 500px; 
  margin: 10% auto;
  border: 1px solid gray; 
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;  
  transition: all 0.3s;               
  -webkit-transition: all 0.3s;
  height: 300px;
  line-height: 200px;
  text-align: center;
  border: 2px solid black;
}

.flipped, .back {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg); 
}

.front, .back {
  height: 300px;          
  width: 500px;
  position: absolute;    
  text-align: center; 
  font-size: 50px;
  -webkit-backface-visibility: hidden;       
}



.front p, .back p {
  margin-top: 25%;       
  font-size: 3em;
}

.flash {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  width:95%;
  height:95%;
  background-color: white;
  }
    
.container {
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  width:95%;
  height:95%;
  background-color: white;
  }
    
input[name=front] {
  border: 2px solid darkred;
  border-radius: 4px;
  width:300px;
  height:50px;
  font-size:25px;
}

.span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.footer {
    bottom : 0;
    height : 40px;
    margin-top : 40px;
}

#term {
  word-wrap: break-word;
  height: 300px ;
  overflow:scroll;
  position: absolute;
  line-height: 150%;
  width: 500px;
}

.begin{
  background-color: lightblue;
}

.step{
  background-color: pink; 
}

#textf{
  height: 100px;
  line-height: 150%;
  overflow: scroll;
}

.apflash{
  width: 400px;
  position: absolute;
}

.reset{
  background-color: red;
  border-color: black;
}

.quest, .ans{
  background-color: white;
}
